<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
    <a class="navbar-brand" href="#">Pension Management System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="'/pensionerDetail'">Process Pension</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="'/searchPensioner'">Search Pensioner</a>
            </li>
        </ul>

        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                {{loggedInUsername}}
            </button>
            <ul class="dropdown-menu">
                <li><button class="dropdown-item" type="button" (click)="onLogout()">Logout</button></li>
            </ul>
        </div>
    </div>
</nav>