<div class="footer-distributed">

    <div class="footer-left">

        <h3>Pension<span>logo</span></h3>

        <p class="text-white mt-2">POD-4 Cohort CDE50 © 2022</p>
    </div>

    <div class="footer-center">
        <div>
            <h6>Location</h6>
            <p>India</p>
        </div>

        <div>
            <h6 class="mt-3">Contact</h6>
            <p>+1-644-213-6789</p>
        </div>
    </div>

    <div class="footer-right">

        <p class="footer-company-about">
            <span>About the company</span>
            Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus
            vehicula sit amet.
        </p>

    </div>

</div>