.container {
    background-image: url("../../images/pension-bg.jpg");
    background-size: cover;
    height: 100%;
  }
  
  body,
  html {
    height: 100%;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .bg-image {
    /* The image used */
    background-image: url("../../images/pension-bg.jpg");
  
    /* Add the blur effect */
    /* filter: blur(20px);
    -webkit-filter: blur(20px); */
  
    position: absolute;
    /*position: fixed;*/
    top: 0;
    left: 0;
    width: 100%;
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* Position text in the middle of the page/image */
  .bg-text {
  
    color: black;
    font-weight: bold;
  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 60%;
    padding: 10px;
    text-align: center;
    margin-top: 70px;
  }
  
  .user_card {
    height: 500px;
    width: 800px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    background: #afbfd8;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0a, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
  
  }
  
  .brand_logo_container {
    position: absolute;
    height: 170px;
    width: 170px;
    top: -75px;
    border-radius: 50%;
    background: #60a3bc;
    padding: 10px;
    text-align: center;
  }
  
  .brand_logo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid white;
  }
  
  .form_container {
    margin-top: 100px;
  }
  
  .login_btn {
    width: 100%;
    background: #1B4F72 !important;
    color: white !important;
  }
  
  .login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
  }
  
  .login_container {
    padding: 0 2rem;
  }
  
  .input-group-text {
    background: #1B4F72 !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
  }
  
  .input_user,
  .input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
  }
  
  .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #1B4F72 !important;
  }